<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>张邦豪的列表</title>
</head>
<body>
    <a href="{:url('index/index')}">添加</a>
    <table>
        <tr>
            <td>ID</td>
            <td>欠款人</td>
            <td>金额</td>
            <td>操作</td>
        </tr>
        {volist name='page' id='v'}
        <tr>
            <td>{$i}</td>
            <td>{$v.username}</td>
            <td>{$v.money}</td>
            <td width="100">[<a href="{:url('index/indexdel')}?id={$v.id}">删除</a>]|[<a href="{:url('index/indexedit')}?id={$v.id}">修改</a>]</td>
        </tr>
        {/volist}
        <tr>
            <td colspan="4" align="right">总金额：{$money}</td>
        </tr>
        <tr>
            <td colspan="4">{$page->render()}</td>
        </tr>
    </table>
</body>
</html>